/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    width: calc(100% - 40px);
    max-width: calc(1024px - 40px);
    padding: 0 20px;
    margin: 0 auto;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;

    .modal-background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .3);
        z-index: 3;
    }

    .modal-container {
        position: absolute;
        width: 400px;
        height: 300px;
        left: calc(50% - 200px);
        top: calc(50% - 150px);
        background-color: #fff;
        z-index: 4;
        border-radius: 10px;
        text-align: center;
        padding: 30px;

        h1 {
            font-size: 30px;
            margin-bottom: 20px;
        }

        .form {
            height: calc(100% - 50px);
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;

            .line {
                flex-basis: 100%;
                width: 100%;
    
                mat-form-field {
                    width: 100%;
                }
            }

            .mat-raised-button {
                padding: 4px 19px;
                font-size: 16px;
            }
        }
    }

    &.s2 .modal-container {
        height: 400px;
        top: calc(50% - 200px);
    }

    &.s3 .modal-container {
        height: 450px;
        top: calc(50% - 225px);
    }
}

.content {
    margin-top: 20px;
    padding-bottom: 80px;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            margin:  0;
        }
    }

    .table {
        margin-top: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 5px -1px #00000005, 0 6px 10px #0000000f, 0 1px 18px #0000000a;
        border: 1px solid #eee;
        overflow: hidden;

        table {
            width: 100%;
        }

        &.center {
            text-align: center;
            padding: 30px 0;

            .mat-progress-spinner {
                margin: 0 auto;
            }
        }

        td.current {
            background-color: #b2dfdb;
        }
    }
}