<div id="main-menu">
    <div class="container">
        <div class="title">
            Sistema de gestão de RH
            <span *ngIf="userIsLogged">Logado(a) às {{ userLoginData }} como {{ userData.nome }}</span>
        </div>

        <div class="menu">
            <button mat-raised-button color="accent" (click)="toggleLogin()" *ngIf="!userIsLogged">Entrar <mat-icon>login</mat-icon></button>
            <button mat-raised-button color="accent" (click)="sair()" *ngIf="userIsLogged">Sair <mat-icon>exit_to_app</mat-icon></button>
        </div>
    </div>
</div>

<mat-tab-group mat-align-tabs="center" *ngIf="userIsLogged">
    <mat-tab label="Dados pessoais">
        <app-dados-pessoais [userData]="userData"></app-dados-pessoais>
    </mat-tab>

    <mat-tab label="Funcionários" *ngIf="userData.possuiPermissaoRH">
        <app-funcionarios [userData]="userData"></app-funcionarios>
    </mat-tab>

    <mat-tab label="Projetos">
        <app-projetos [userData]="userData"></app-projetos>
    </mat-tab>
</mat-tab-group>  

<div class="modal" *ngIf="!userIsLogged && showLogin">
    <div class="modal-background" (click)="toggleLogin()"></div>

    <div class="modal-container">
        <h1>Acesso</h1>

        <div class="form">
            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" [(ngModel)]="formLoginEmail">
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="formLoginSenha">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Ocultar password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <button mat-raised-button color="primary" (click)="doLogin()">Entrar</button>
            </div>
        </div>
    </div>
</div>

<footer>Desenvolvido pelo Grupo 3.</footer>