<div id="main-menu">
    <div class="container">
        <div class="title">
            Sistema de gestão de RH
            <span *ngIf="userIsLogged">Logado(a) às {{ userLoginData }} como {{ userData.nome }}</span>
        </div>

        <div class="menu" *ngIf="userIsLogged">
            <button mat-raised-button color="accent" (click)="goToView('FUNCIONARIOS')">Funcionários</button>
            <button mat-raised-button color="accent" (click)="goToView('PROJETOS')">Projetos</button>
        </div>

        <div class="menu" *ngIf="!userIsLogged">
            <button mat-raised-button color="accent" (click)="toggleLogin()">Entrar</button>
        </div>
    </div>
</div>

<div class="modal" *ngIf="!userIsLogged && showLogin">
    <div class="modal-background" (click)="toggleLogin()"></div>

    <div class="modal-container">
        <h1>Acesso</h1>

        <div class="form">
            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" [(ngModel)]="formLoginEmail">
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="formLoginSenha">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Ocultar password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <button mat-raised-button color="primary" (click)="doLogin()">Entrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal s2" *ngIf="userIsLogged && showModalProjetos">
    <div class="modal-background" (click)="hideModalProjetos()"></div>

    <div class="modal-container">
        <h1>{{ modalProjetos.title }}</h1>

        <div class="form">
            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome" [(ngModel)]="modalProjetosNome">
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Descrição</mat-label>
                    <input matInput placeholder="Descrição" [(ngModel)]="modalProjetosDescricao">
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Participantes</mat-label>
                    <input matInput placeholder="Participantes" [(ngModel)]="modalProjetosParticipante">
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <button mat-raised-button color="primary" (click)="actionModalProjetos(modalProjetos.role)">{{ modalProjetos.role === 'add' ? 'Adicionar' : 'Salvar' }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal s3" *ngIf="userIsLogged && showModalFuncionarios">
    <div class="modal-background" (click)="hideModalFuncionarios()"></div>

    <div class="modal-container">
        <h1>{{ modalFuncionarios.title }}</h1>

        <div class="form">
            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome" [(ngModel)]="modalFuncionariosNome">
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Usuário</mat-label>
                    <input matInput placeholder="Usuário" [(ngModel)]="modalFuncionariosUser">
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" [(ngModel)]="modalFuncionariosEmail">
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="modalFuncionariosSenha">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Ocultar password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <button mat-raised-button color="primary" (click)="actionModalFuncionarios(modalFuncionarios.role)">{{ modalFuncionarios.role === 'add' ? 'Adicionar' : 'Salvar' }}</button>
            </div>
        </div>
    </div>
</div>

<div class="content" *ngIf="userIsLogged">
    <div class="container">
        <div class="title">
            <h1>{{ componentInView === 'PROJETOS' ? 'Projetos' : "Funcionários" }}</h1>       
            <button mat-raised-button *ngIf="userData.possuiPermissaoRH" (click)="openModalAdd()">Adicionar</button>
        </div>

        <div class="table" *ngIf="!componentIsLoading">
            <table mat-table [dataSource]="gridData" #grid matSort>
                <ng-container [matColumnDef]="column.name" *ngFor="let column of gridColumns">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ column.display }}</th>

                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="column.name !== 'controls'">{{ element[column.name] }}</span>

                        <div *ngIf="column.name === 'controls'">
                            <button mat-icon-button (click)="openModalEdit(element._id)">
                                <mat-icon>edit</mat-icon>
                            </button>

                            <button mat-icon-button (click)="gridControlRemoveClick(element._id)">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="gridColumnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: gridColumnsToDisplay;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[30]"></mat-paginator>
        </div>

        <div class="table center" *ngIf="componentIsLoading">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>

<footer>Desenvolvido pelo Grupo 3.</footer>