<div class="content" *ngIf="!userData.possuiPermissaoRH">
    <div class="container">
        <div class="title">
            <h1>Projetos</h1>
        </div>
        
        <p>Você não possui permissão para visualizar os funcionários.</p>
    </div>
</div>

<div class="content" *ngIf="userData.possuiPermissaoRH">
    <div class="container">
        <div class="title">
            <h1>Funcionários</h1>       
            <button mat-raised-button *ngIf="userData.possuiPermissaoRH" (click)="openModal()">Adicionar</button>
        </div>

        <div class="table" *ngIf="!componentIsLoading">
            <table mat-table [dataSource]="gridData" #grid matSort>
                <ng-container [matColumnDef]="column.name" *ngFor="let column of gridColumns">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ column.display }}</th>

                    <td mat-cell *matCellDef="let element" [class.current]="element._id === userData._id">
                        <span *ngIf="column.name !== 'controls'">{{ element[column.name] }}</span>

                        <div *ngIf="column.name === 'controls'">
                            <button mat-icon-button (click)="openModal(element._id)">
                                <mat-icon>edit</mat-icon>
                            </button>

                            <button mat-icon-button (click)="gridControlRemoveClick(element._id)" *ngIf="element._id !== userData._id">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="gridColumnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: gridColumnsToDisplay;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[30]"></mat-paginator>
        </div>

        <div class="table center" *ngIf="componentIsLoading">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>

<div class="modal s3" *ngIf="showModal">
    <div class="modal-background" (click)="hideModal()"></div>

    <div class="modal-container">
        <h1>{{ modal.title }}</h1>

        <div class="form">
            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome" [(ngModel)]="modalNome">
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Usuário</mat-label>
                    <input matInput placeholder="Usuário" [(ngModel)]="modalUser">
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" [(ngModel)]="modalEmail">
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="modalHidePassword ? 'password' : 'text'" [(ngModel)]="modalSenha">
                    <button mat-icon-button matSuffix (click)="modalHidePassword = !modalHidePassword" [attr.aria-label]="'Ocultar password'" [attr.aria-pressed]="modalHidePassword">
                        <mat-icon>{{ modalHidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-hint>* Obrigatório</mat-hint>
                </mat-form-field>
            </div>

            <div class="line">
                <button mat-raised-button color="primary" (click)="actionModal(modal.role)">{{ modal.role === 'add' ? 'Adicionar' : 'Salvar' }}</button>
            </div>
        </div>
    </div>
</div>